body {
  overflow-x: hidden;
}

#Hero-wrapper {
    display: flex;
    border: 0.6px var(--card-border) solid;
    height: 100vh;
}

.intro {
    display: flex;
    align-items: center;
}

.grid-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.main-content {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    /* grid dots */
    background-image: radial-gradient(circle at 1px 1px, var(--dots-color) 1px, transparent 0);
    background-size: 40px 40px;
    padding: 1.25rem;
    gap: 1.25rem;
    margin-top: 3rem;
}

.tophalf {
    display: grid;
    height: 60vh;
    /* grid-row: 1 / 2; */
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.25rem;
}

.item {
    background-color: var(--card-background);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.6px var(--card-border) solid;
    position: relative;
    overflow: hidden;
    z-index: 2;
}
  .item:hover:before {
      background-position: 100% 100%;
      /* transform: scale(1.08, 1.03); */
  }
  
  .item:hover > .item-content {
    background-position: -10% 0%;
  }
  
  .item:hover > .item-content > .item-subtitle > .item-subtitle-word {  
    opacity: 1;
    transform: translateY(0%);
    transition: opacity 0ms, transform 200ms cubic-bezier(.90, .06, .15, .90);
  }
  
  .item:before {
    background: linear-gradient(
      130deg, 
      transparent 0% 33%, 
      var(--g1) 66%, 
      var(--g2) 83.5%, 
      var(--g3) 100%
    );
    background-position: 0% 0%;
    background-size: 300% 300%;
    content: "";
    height: 100%;
    left: 0px;
    pointer-events: none;
    position: absolute;
    top: 0px;
    transition: background-position 350ms ease, transform 350ms ease;
    width: 100%;
    z-index: 1;
  }
  
  .item-content {
    /* background-image: radial-gradient(
      rgba(255, 255, 255, 0.2) 8%, 
      transparent 8%
    ); */
    background-position: 0% 0%;
    background-size: 5vmin 5vmin;
    position: relative;
    transition: background-position 350ms ease;
    height: 100%;
    width: 100%;
    z-index: 2;
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
  }
  
  .item-content h4 {
    margin: 0px;
    margin-block: 1rem;
    font-size: 1.25rem;
  }

  .item-subtitle-word {
    display: inline-block;
    /* margin: 0vmin 0.3vmin; */
    margin-right: 0.5vmin;
    opacity: 0;
    position: relative;  
    transform: translateY(40%);
    transition: none;
  }
/* rgb(51, 55, 57) */
/* rgb(242 244 247) */

#item1 {
    grid-column: span 1;
    grid-row: span 1;
    border-radius: 4px 3rem 3rem 3rem;
}

#item2 {
    grid-column: span 2;
    grid-row: span 1;
    border-radius: 4px 3rem 4px 4px;
}

#item3 {
    grid-column: span 1;
    grid-row: span 1;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

#item3 > .item-content {
    padding: 0px;
    font-size: 1.25rem;
    align-items: center;
    justify-content: center;
}

#item4 {
    grid-column: span 1;
    grid-row: span 1;
    border-radius: 4px 3rem 3rem 4px; 
}

#item5 {
    grid-column: span 1; grid-row: span 2;
    border-radius: 4px+3rem;
}

#item6 {
    grid-column: span 2;
    grid-row: span 2;
    border-radius: 4px 4px 4px 3rem;
}

#item7 {
    grid-column: span 1;
    grid-row: span 2;
    border-top-right-radius: 3rem;
}

#item8 {
    grid-column: span 1;
    grid-row: span 1;
    border-radius: 4px 4px 3rem 3rem;
}

#item9 {
    grid-column: span 1;
    grid-row: span 1;
    border-radius: 4px 3rem 3rem 3rem;
}

.bottomhalf {
    display: grid;
    grid-row: 2 / 3;
    grid-template-columns: 1fr 2fr;
    gap: 1.25rem;
}

.one-third, .two-thirds {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}
@media (max-width: 576px) {
  .bottomhalf {
    display: flex;
    flex-direction: column;
  }
  .main-content {
    display: flex;
    flex-direction: column;
    /* grid dots */
    background-image: radial-gradient(circle at 1px 1px, var(--dots-color) 1px, transparent 0);
    background-size: 40px 40px;
    padding: 1.25rem;
    gap: 1.25rem;
    margin-top: 0rem;
  }

  .tophalf {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .item {
    display: flex;
    height: 100%;
    border-radius: 1.25rem !important;
    /* overflow: visible; */
  }
  #item3 {
    order: -1; 
    /* moves to the front, scuffed */
  }
  .shooting_star {
    display: none;
  }
}

/* copied from https://staturnz.com */

.shooting_star {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-position-x: center;
  background-size: cover;
  animation: animateBg 50s linear infinite;
  overflow: hidden;
}

@keyframes animateBg {
  0%,100% { transform:scale(1); }
  50% { transform:scale(1.2); }
}

.span_star{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  background: rgb(203, 219, 255);
  border-radius: 100%;
  filter: drop-shadow(0 0 6px rgb(255, 175, 230));
  animation:  animate 3s linear infinite;
}

.span_star::before{
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg, rgba(226, 95, 255, 0.75), transparent);
}

@keyframes animate {
  0% {
      transform: rotate(315deg) translateX(10px);
      opacity: 1;
  } 70% {
      opacity: 1;

  } 100% {
      transform: rotate(315deg) translateX(-1800px);
      opacity: 0;
  }

}

.span_star:nth-child(1){
  top: 0px;
  right: 10px;
  left:initial;
  animation-delay:0 ;
  animation-duration: 1s;
}

.span_star:nth-child(2){
  top: 10px;
  right: 80px;
  left:initial;
  animation-delay:0.2s;
  animation-duration: 3s;
}

.span_star:nth-child(3){
  top: 80px;
  right: 20px;
  left:initial;
  animation-delay:0.4s ;
  animation-duration: 2s;
}

.span_star:nth-child(4){
  top: 0px;
  right: 180px;
  left:initial;
  animation-delay:0.6s;
  animation-duration: 1.5s;
}

.span_star:nth-child(5){
  top: 0px;
  right: 400px;
  left:initial;
  animation-delay:0.8s;
  animation-duration: 2.5s;
}

.span_star:nth-child(6){
  top: 0px;
  right: 600px;
  left:initial;
  animation-delay:1s ;
  animation-duration: 3s;
}
.span_star:nth-child(7 ){
  top: 300px;
  right: 100px;
  left:initial;
  animation-delay:1s ;
  animation-duration: 1.75s;
}

.span_star:nth-child(8){
  top: 0px;
  right: 700px;
  left:initial;
  animation-delay:1.4s ;
  animation-duration: 1.25s;
}

.span_star:nth-child(9){
  top: 0px;
  right: 1000px;
  left:initial;
  animation-delay:0.75s ;
  animation-duration: 2.25s;
}

.span_star:nth-child(10){
  top: 80px;
  right: 900x;
  left:initial;
  animation-delay:2.75s;
  animation-duration: 2.25s;
}