body {
  overflow-x: hidden;
}

/* #Hero-wrapper {
  display: flex;
  border: 0.6px var(--card-border) solid;
  height: 100vh;
} */

.intro {
  display: flex;
  align-items: center;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
  padding: 1rem;
  box-sizing: border-box;
}

.content-area {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  box-sizing: border-box;
}

.content-area > div {
  background-color: var(--card-bg);
  border: 0.6px var(--card-border) solid;
  padding: 1rem;
}

@media (max-width: 576px) {
  .main-content {
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    gap: 1.25rem;
    margin-top: 0rem;
  }

  .sidebar {
    position: static;
    order: -1;
  }

  .profile-section {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .bio {
    font-size: 32px;
    text-align: left;
    margin-top: 0;
  }

  .social-section footer {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

/* Footer links styling */
.footer-links {
  margin-top: 0.5em;
  color: rgb(var(--accent-light));
  border-bottom: 1px solid rgb(var(--accent));
  text-decoration: none;
  padding: 0.25rem 0;
}

@media (prefers-color-scheme: light) {
  .footer-links {
    color: rgb(var(--accent-dark));
    border-bottom: 1px solid rgb(var(--accent-dark));
  }
}
