---
import Layout from '../layouts/Layout.astro';
import BlogCard from '../components/BlogCard';
import SkillsCard from '../components/SkillsCard'
import Sidebar from '../components/Sidebar';
import './index.css'
import ProjectItem from '../components/ProjectItem';
import FancyHyperlink from '../components/FancyHyperlink';
import { getCollection } from 'astro:content';
const allBlogPosts = await getCollection('blog');
const sortedBlogPosts = allBlogPosts.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
const blogPosts = sortedBlogPosts.slice(0, 2).map(post => ({
  title: post.data.title,
  date: post.data.date.toLocaleDateString(),
  slug: post.slug
}));
---

<Layout title="htrowii's website">
	<div class="main-content">
		<Sidebar client:load />
		
		<div class="content-area">
			<div class="about-me">
				<h1>meow :3</h1>
			</div>
			<div class="hobbies"></div>
			<div class="projects"></div>
			<div class="blogposts"></div>
		</div>
	</div>
</Layout>
