---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import MusicCard from '../components/MusicCard'
---

<Layout title="htrowii's website">
	<main>
		<MusicCard client:load/>
	</main>
</Layout>
