---
import Layout from '../layouts/Layout.astro';
import BlogCard from '../components/BlogCard';
import SkillsCard from '../components/SkillsCard'
import Hero from '../components/Hero'
import './index.css'
import ProjectItem from '../components/ProjectItem';
import FancyHyperlink from '../components/FancyHyperlink';
import { getCollection } from 'astro:content';
const allBlogPosts = await getCollection('blog');
const sortedBlogPosts = allBlogPosts.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
const blogPosts = sortedBlogPosts.slice(0, 2).map(post => ({
  title: post.data.title,
  date: post.data.date.toLocaleDateString(),
  slug: post.slug
}));
---

<Layout title="htrowii's website">
	<main class="grid-container">
		<div id="Hero-wrapper">
			<Hero client:load/>
		</div>
		<div class="main-content">
			<div class="tophalf">
				<ProjectItem 
					client:load 
					description="macOS app that uses SparseRestore exploit and ipatool to replace app icons on iOS" 
					id="item1" 
					title="SparseThemer" 
					repo="haxi0/sparsethemer" 
					link='https://github.com/haxi0/sparsethemer'
				/>
				
				<ProjectItem 
					client:load 
					description="Fork of WDBFontOverwrite that uses kfd to overwrite fonts on iOS" 
					id="item2" 
					title="KFDFontOverwrite" 
					repo="hrtowii/WDBFontOverwrite" 
					link='https://github.com/hrtowii/WDBFontOverwrite'
				/>
				
				<div id="item3" class="transparentitem">
					<div class="item-wrapper">
						<h3>Projects</h3>
					</div>
				</div>
				
				<ProjectItem 
					client:load 
					description="Built full-stack B2B software for funeral parlors to list and sell funeral services to customers." 
					id="item4" 
					title="Heartfelt" 
					link='https://eas-ai.com'
				/>
				
				<ProjectItem 
					client:load 
					description="Made during Hack n Roll 2025. Uses Python/Bash/React/Tauri to detect emotions and troll the user."
					id="item5" 
					title="DuckDuckFlow" 
					repo="hrtowii/hnr2025" 
					link='https://devpost.com/software/helpy-a15m4u'
					images={[
						'https://d112y698adiu2z.cloudfront.net/photos/production/software_photos/003/220/385/datas/gallery.jpg',
						'https://d112y698adiu2z.cloudfront.net/photos/production/software_photos/003/220/386/datas/gallery.jpg',
						'https://d112y698adiu2z.cloudfront.net/photos/production/software_photos/003/220/383/datas/gallery.jpg',
					]}
				/>
				
				<ProjectItem 
					client:load 
					description="Semi-jailbreak written for iOS 16.0 - 16.6.1, using RootHide Bootstrap" 
					id="item6" 
					title="Serotonin" 
					repo="mineek/Serotonin" 
					link='https://github.com/mineek/Serotonin'
					images={[
						'/serotonin2.jpg',
						'/serotonin.jpg',
					]}
				/>
				
				<ProjectItem 
				client:load 
				description="Program written in pure C to convert images into ascii / colored text in terminal and bmp images" 
				id="item7" 
				title="img2ascii_c" 
				repo="hrtowii/img2ascii_c" 
				link='https://github.com/hrtowii/img2ascii_c',
				images={[
					"https://github.com/hrtowii/img2ascii_c/raw/refs/heads/main/test2.bmp",
					"https://github.com/hrtowii/img2ascii_c/raw/refs/heads/main/test5.bmp",
				]}
			/>

				<ProjectItem
					client:load
					id="item8"
					description="React Native / Flask app for a bereal but food app. Uses gpt4o for vision"
					title="hackomania2025"
					repo="hrtowii/hackomania2025"
					link="https://github.com/hrtowii/hackomania2025/tree/backend-rewrite"
				/>
				
				<ProjectItem 
					client:load 
					description="Python script to overwrite equalizer presets for Spotify on iOS using SparseRestore exploit" 
					id="item9" 
					title="SpotifyEQ-iOS" 
					repo="hrtowii/SpotifyEQ-iOS" 
					link='https://github.com/hrtowii/SpotifyEQ-iOS'
				/>
			</div>
			<div class="bottomhalf">
				<div class="one-third">
					<BlogCard client:load blogPosts={blogPosts} />
				</div>
				<div class="two-thirds">
					<SkillsCard/>
				</div>
			</div>
			<div>

			</div>
		</div>
	</main>
</Layout>
