---
import Layout from '../layouts/Layout.astro';
import MusicCard from '../components/MusicCard'
import BlogCard from '../components/BlogCard';
import SkillsCard from '../components/SkillsCard'
import Sidebar from '../components/Sidebar'
import './index.css'
---

<Layout title="htrowii's website">
	<main class="grid-container">
		<div id="sidebar-wrapper">
			<Sidebar client:load/>
		</div>
		<div class="main-content">
			<div class="tophalf">
				<div id="item1" class="item">
					<!-- 1x1 -->
				</div>
				<div id="item2" class="item">2x1</div>
				<div id="item3" class="item"><h3>Projects</h3></div>
				<div id="item4" class="item">1x1</div>
				<div id="item5" class="item">1x2</div>
				<!-- <MusicCard client:load/>  -->
				<!-- this is item5, style it properly later with media query type shit -->
				<div id="item6" class="item">2x2</div>
				<div id="item7" class="item">1x2</div>
				<div id="item8" class="item">1x1</div>
				<div id="item9" class="item">1x1</div>
			</div>
			<div class="bottomhalf">
				<div class="one-third">
					<BlogCard/>
				</div>
				<div class="two-thirds">
					<SkillsCard/>
				</div>
			</div>
		</div>
	</main>
</Layout>