
---
import Layout from '../../layouts/Layout.astro';
import BlogCard from '../../components/BlogCard';
import SkillsCard from '../../components/SkillsCard'
import Hero from '../../components/Hero'
import './index.css'
import ProjectItem from '../../components/ProjectItem';
import FancyHyperlink from '../../components/FancyHyperlink';
---

<Layout title="htrowii's website">
	<main class="content">
	<h1>Rices!</h1>
	<p>I love love love ricing / customising my devices, be it macOS, Linux, Android, or iOS. I've dabbled with some Windows theming but the hassle there is a lot worse.</p>
	<p>Here are most of my setups, organised by OS.</p>
	<h2>macOS</h2>
	<h2>iOS</h2>
	<h2>Linux</h2>
	</main>
</Layout>
