.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.os-section {
  margin-bottom: 3rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  border-bottom: 2px solid #ddd;
  padding-bottom: 0.5rem;
}

.rice-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.rice-card {
  /* background-color: #f9f9f9; */
  background-color: var(--card-background);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.rice-card:hover {
  transform: translateY(-5px);
}

.rice-card img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: contain;
  /* background-color: #eee; */
  background-color: var(--card-foreground);
}

.rice-info {
  padding: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rice-card h3 {
  font-size: 1.2rem;
  /* color: #333; */
  margin: 0 0 0.5rem 0;
  text-align: center;
}

.rice-description {
  font-size: 0.9rem;
  /* color: #666; */
  margin: 0;
  text-align: center;
}

@media (max-width: 768px) {
  .rice-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .rice-grid {
    grid-template-columns: 1fr;
  }
}
