.blog-card {
    background-color: var(--card-background);
    padding-inline: 1rem;
    border-radius: 10px+2rem;
    height: 100%;
    display: flex;
    border: 0.6px var(--card-border) solid;
    z-index: 2;
}