.item {
    background-color: var(--card-background);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.6px var(--card-border) solid;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.item-content {
    /* background-image: radial-gradient(
      rgba(255, 255, 255, 0.2) 8%, 
      transparent 8%
    ); */
    background-position: 0% 0%;
    background-size: 5vmin 5vmin;
    position: relative;
    transition: background-position 350ms ease;
    height: 100%;
    width: 100%;
    z-index: 2;
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
}

.item-content h4 {
    margin: 0px;
    margin-block: 1rem;
    font-size: 1.25rem;
}

.item-title,
.stars {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stars {
    gap: 0.5rem;
}

/* rgb(51, 55, 57) */
/* rgb(242 244 247) */

#item1 {
    grid-column: span 1;
    grid-row: span 1;
    border-radius: 4px 3rem 3rem 3rem;
}

#item2 {
    grid-column: span 2;
    grid-row: span 1;
    border-radius: 4px 3rem 4px 4px;
}

#item3 {
    grid-column: span 1;
    grid-row: span 1;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

#item3>.item-content {
    padding: 0px;
    font-size: 1.25rem;
    align-items: center;
    justify-content: center;
}

#item4 {
    grid-column: span 1;
    grid-row: span 1;
    border-radius: 4px 3rem 3rem 4px;
}

#item5 {
    grid-column: span 1;
    grid-row: span 2;
    border-radius: 4px+3rem;
}

#item6 {
    grid-column: span 2;
    grid-row: span 2;
    border-radius: 4px 4px 4px 3rem;
}

#item7 {
    grid-column: span 1;
    grid-row: span 2;
    border-top-right-radius: 3rem;
}

#item8 {
    grid-column: span 1;
    grid-row: span 1;
    border-radius: 4px 4px 3rem 3rem;
}

#item9 {
    grid-column: span 1;
    grid-row: span 1;
    border-radius: 4px 3rem 3rem 3rem;
}