.sidebar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* padding: 2rem; */
  padding-inline: 1rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  background: color-mix(in srgb, var(--card-background) 40%, transparent);
  backdrop-filter: blur(12px);
  /* border-radius: 1.25rem; */
  border: 0.6px var(--card-border) solid;
  height: fit-content;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 576px) {
  .sidebar {
    position: static;
    order: -1;
    background: none;
    backdrop-filter: none;
    padding: 0px;
    border: none;
  }
  .profile-section {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.music-section {
  width: 100%;
}

.links-section {
  width: 100%;
}

.blogs-section {
  width: 100%;
}

.settings-section {
  width: 100%;
}

/* Profile picture styling */
.pfp,
.pfp_glow {
  position: absolute;
  border-radius: 12px;
  border: 0.8px #94a3b8 solid;
}

.pfp_wrapper {
  height: 125px;
  width: 125px;
  position: relative;
}

.pfp_glow {
  opacity: 0.5;
  filter: blur(12px) saturate(6);
}

/* Bio styling */
@font-face {
  font-family: "MyWebFont";
  src: url("/ndot47.ttf");
}

.bio {
  filter: drop-shadow(0 0 6px rgba(105, 155, 255, 0.5));
  font-family: MyWebFont;
  font-size: 24px;
  font-weight: 100;
  text-align: center;
  margin-block: 1rem;
}
