.sidebar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--card-background);
  border-radius: 1.25rem;
  border: 0.6px var(--card-border) solid;
  height: fit-content;
  top: 2rem;
  width: 100%;
  box-sizing: border-box;
}

.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.music-section {
  width: 100%;
}

.social-section {
  width: 100%;
}

.social-section footer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
