.skills {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    height: 100%;
    gap: 1.35rem;
}

.skill-box {
    height: 100%;
    width: 100%;
    /* padding: 1.5rem; */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    background-color: var(--card-background);
    border: 0.6px var(--card-border) solid;
    gap: 0.7rem;
    border-radius: 1.5rem;
}

.skill-box > * {
    margin-left: 1rem;
}

.skill-box p {
    margin-block: 0px;
}

.skill-box > strong { /* scuffed but it's the skill title in each box*/
    margin-top: 1rem;
}

.skill {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    height: 100%;
    /* cursor: pointer; */
}

.skill >.fa-brands {
    font-size: 1.75rem;
    width: 1.75rem;
    height: 1.75rem;
}

#skill1 {
    grid-column: span 1;
    grid-row: span 1;
    /* border-radius: 4px+5rem; */
}

#skill2 {
    grid-column: span 1;
    grid-row: span 1;
    /* border-radius: 4px 4px 4px 5rem; */
}

#skill3 {
    grid-column: span 2;
    grid-row: span 1;
    /* border-radius: 4px 5rem 5rem 4px; */
}

#skill4 {
    grid-column: span 2;
    grid-row: span 1;
    /* border-radius: 4px 5rem 4px 5rem; */
}

#skill5 {
    grid-column: span 2;
    grid-row: span 1;
    /* border-radius: 4px 4px 5rem 5rem; */
}

.fa-github {
    color: var(--foreground);
}

.fa-flutter {
    color: #42A5F5;
}

.fa-js {
    color: #f7df1e;
}

.fa-python {
    color: #4584b6;
}

.fa-react {
    color: #61dbfb;
}

.fa-swift {
   color: #f05138;
}

.fa-figma {
    color: rgb(var(--accent-dark));
}

.prisma {
    filter: invert();
}

@media (prefers-color-scheme: dark) {
    .fa-figma {
        color: rgb(var(--accent-light));
    }
}

.skillflex {
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
    height: 100%;
}

.skillleft, .skillright {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    margin-bottom: 1rem;
}