/* https://romiojoseph.github.io/open-source/design-token-studio/type-scale-generator/ */
:root {
  --font-size-displayLarge: 2.841rem;
  --font-size-displayMedium: 2.526rem;
  --font-size-displaySmall: 2.245rem;
  --font-size-heading1: 1.996rem;
  --font-size-heading2: 1.774rem;
  --font-size-heading3: 1.577rem;
  --font-size-heading4: 1.402rem;
  --font-size-heading5: 1.246rem;
  --font-size-heading6: 1.107rem;
  --font-size-subtitle: 0.984rem;
  --font-size-body: 0.875rem;
  --font-size-caption: 0.778rem;
  --font-size-label: 0.691rem;
  --font-size-tagline: 0.615rem;
}

@media (max-width: px) {
  :root {
    --font-size-displayLarge: 2.435rem;
    --font-size-displayMedium: 2.165rem;
    --font-size-displaySmall: 1.924rem;
    --font-size-heading1: 1.711rem;
    --font-size-heading2: 1.52rem;
    --font-size-heading3: 1.352rem;
    --font-size-heading4: 1.201rem;
    --font-size-heading5: 1.068rem;
    --font-size-heading6: 0.949rem;
    --font-size-subtitle: 0.844rem;
    --font-size-body: 0.75rem;
    --font-size-caption: 0.667rem;
    --font-size-label: 0.593rem;
    --font-size-tagline: 0.527rem;
  }
}

h1 {
  font-size: var(--font-size-heading1);
  margin-bottom: 1.5rem;
}

h2 {
  font-size: var(--font-size-heading2);
  margin-bottom: 1.25rem;
}

h3 {
  font-size: var(--font-size-heading3);
  margin-bottom: 1.125rem;
}

h4 {
  font-size: var(--font-size-heading4);
  margin-bottom: 1rem;
}

h5 {
  font-size: var(--font-size-heading5);
  margin-bottom: 0.875rem;
}

h6 {
  font-size: var(--font-size-heading6);
  margin-bottom: 0.75rem;
}

body,
p {
  font-size: var(--font-size-body);
  margin-bottom: 1rem;
}
