html::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-image: url("/oneshotcatwalks.png"); */
  /* background-size: cover; */
  /* background-attachment: fixed; */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* filter: brightness(0.55) blur(4px); */

  background-color:  hsl(249, 22%, 12%);
  background-image: radial-gradient(circle, hsl(249, 12%, 47%) 1px, transparent 1px);
  background-size: 24px 24px;
  filter: brightness(0.67);
  animation: grid-drift 7.5s linear infinite;
  z-index: -1;

}

@keyframes grid-drift {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 24px 24px;
  }
}

/* :root {
  --accent: 136, 58, 234;
  --accent-light: 224, 204, 250;
  --accent-dark: 49, 10, 101;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--accent-light)) 30%,
    white 60%
  );
  --card-foreground: hsl(0 0% 90%);
  --card-background: hsl(222.2 34% 8.9%);
  --background: hsl(222.2 34% 5.9%);
  --foreground: hsl(222.2 94% 90.9%);
  --Hero: hsl(222.2 34% 6.9%);
  --dots-color: hsl(222.2 4% 24.9%);
  --card-border: rgb(51, 55, 57);
  --border: rgb(3, 169, 244);
  --g1: rgb(98, 0, 234);
  --g2: rgb(236, 64, 122);
  --g3: rgb(253, 216, 53);
} */

:root {
  /* Accent Colors */
  --accent: hsl(343, 76%, 68%);
  --accent-light: hsl(343, 76%, 78%);
  --accent-dark: hsl(343, 76%, 58%);
  --accent-gradient: linear-gradient(
    45deg,
    hsl(343, 76%, 68%),
    hsl(343, 76%, 78%) 30%,
    white 60%
  );

  /* Backgrounds */
  --background: hsl(249, 22%, 12%);
  --card-background: hsl(247, 23%, 15%);
  --overlay: hsl(248, 25%, 18%);
  --Hero: hsl(244, 18%, 15%); /* Highlight Low */

  /* Foregrounds */
  --foreground: hsl(245, 50%, 91%);
  --card-foreground: hsl(245, 50%, 91%);

  /* Borders and Highlights */
  --card-border: hsl(248, 13%, 36%); /* Highlight High */
  --border: hsl(343, 76%, 68%); /* Accent */

  /* Additional Colors */
  --dots-color: hsl(249, 12%, 47%); /* Muted */
  --g1: hsl(267, 57%, 78%); /* Iris */
  --g2: hsl(35, 88%, 72%); /* Gold */
  --g3: hsl(2, 55%, 83%); /* Rose */
}
/*
@media (prefers-color-scheme: light) {
  :root {

    --accent: hsl(343, 35%, 55%);
    --accent-light: hsl(343, 35%, 65%);
    --accent-dark: hsl(343, 35%, 45%);
    --accent-gradient: linear-gradient(
      45deg,
      hsl(343, 35%, 55%),
      hsl(343, 35%, 65%) 30%,
      white 60%
    );

    --background: hsl(32, 57%, 95%);
    --card-background: hsl(35, 100%, 98%);
    --overlay: hsl(33, 43%, 91%);
    --Hero: hsl(25, 35%, 93%);

    --foreground: hsl(248, 19%, 40%);
    --card-foreground: hsl(248, 19%, 40%);

    --card-border: hsl(315, 4%, 80%);
    --border: hsl(343, 35%, 55%);
    --dots-color: hsl(257, 9%, 61%);
    --g1: hsl(268, 21%, 57%);
    --g2: hsl(35, 81%, 56%);
    --g3: hsl(3, 53%, 67%);
  }
}
*/

html {
  font-family: "Maple Mono", "Galmuri7", "Sora", system-ui, sans-serif;
}

body {
  margin: 0px;
}

.bold {
  font-weight: 900;
}

.italic {
  font-style: italic;
}
p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul {
  color: var(--foreground);
}

article p {
  line-height: 1.25rem;
}
article > * {
  margin-bottom: 1.5rem;
}
code {
  /* font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace; */
  color: var(--accent-light) !important;
  background-color: #242424;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

pre > code {
  background-color: rgba(0, 0, 0, 0) !important;
  line-height: 1.55rem;
}

pre {
  padding: 1.2rem;
  border-radius: 0.8rem;
}

.content {
  margin: 10vh;
}

article a::before {
  content: "\[\[";
  color: #beebfe99;
}

article a::after {
  content: "\]\]";
  color: #beebfe99;
}

article a {
  color: rgb(190 235 254);
}

article a:hover {
  opacity: 0.8;
  transition: 0.08s ease-out;
}

blockquote {
  border-left: 5px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

ul {
  list-style: none;
  padding-left: 1.5em;
}

ul li {
  position: relative;
}

ul li::before {
  content: "-";
  position: absolute;
  left: -1.5em;
  color: var(--foreground);
  font-weight: bold;
}

ol {
  list-style: none;
  padding-left: 1.5em;
}

ol li {
  position: relative;
}

ol li::before {
  content: "-";
  position: absolute;
  left: -1.5em;
  color: var(--foreground);
  font-weight: bold;
}

#rainCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

body {
  margin: 0px;
  background: rgba(0, 0, 0, 0);
}

.crt-filter {
  &:after {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.05);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 0.15s infinite;
  }

  &:before {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(
        rgba(18, 16, 16, 0) 50%,
        rgba(0, 0, 0, 0.25) 50%
      ),
      linear-gradient(
        90deg,
        rgba(255, 0, 0, 0.06),
        rgba(0, 255, 0, 0.02),
        rgba(0, 0, 255, 0.06)
      );
    z-index: 2;
    background-size: 100% 1px, 2px 100%;
    pointer-events: none;
  }

  & * {
    animation: phosphor 1.6s infinite;
  }
}

.container {
  width: 70vw;
  margin-inline: 15vw;
  margin-block: 10vh;
  /* background: rgba(from var(--card-background) r g b / 0.4); */
  /* https://caniuse.com/mdn-css_types_color_rgb_relative_syntax */
  background: color-mix(in srgb, var(--card-background) 40%, transparent);
  backdrop-filter: blur(10px);
  /* border-radius: 1.75rem; */
  border: 1px solid var(--card-border);
}

@media (max-width: 576px) {
  body {
    grid-template-columns: 5vw 1fr 5vw;
  }

  .container {
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
}
