---
interface Props {
	title: string;
}
const { title } = Astro.props;
import { ViewTransitions } from 'astro:transitions';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<script src="https://kit.fontawesome.com/e23a98c840.js" crossorigin="anonymous"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@media (prefers-color-scheme: light) {
		:root {
			--accent: 136, 58, 234;
			--accent-light: 224, 204, 250;
			--accent-dark: 49, 10, 101;
			--accent-gradient: linear-gradient(
				45deg,
				rgb(var(--accent)),
				rgb(var(--accent-light)) 30%,
				white 60%
			);
			--card-background: hsl(0 0% 100%);
			--card-foreground: hsl(222.2 14% 4.9%);
			--background: hsl(0 0% 90%);
			--foreground: hsl(222.2 14% 8.9%);
			--sidebar: hsl(0 0% 85%);
			--dots-color: hsl(0 0% 90%);
			--card-border: rgb(242 244 247);
		}
	}
	@media (prefers-color-scheme: dark) {
		:root {
			--accent: 136, 58, 234;
			--accent-light: 224, 204, 250;
			--accent-dark: 49, 10, 101;
			--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
			--card-foreground: hsl(0 0% 90%);
			--card-background: hsl(222.2 14% 8.9%);
			--background: hsl(222.2 4% 4.9%);
			--foreground: hsl(0 0% 100%);
			--sidebar: hsl(222.2 4% 6.9%);
			--dots-color: hsl(222.2 4% 24.9%);
			--card-border: rgb(51, 55, 57);
			--border: rgb(3, 169, 244);
			--g1: rgb(98, 0, 234);
			--g2: rgb(236, 64, 122);
			--g3: rgb(253, 216, 53);
		}
	}

	/* 			--card-foreground: hsl(0 0% 90%);
			--card-background: hsl(222.2 64% 8.9%);
			--background: hsl(222.2 74% 4.9%);
			--foreground: hsl(0 0% 100%);
			--sidebar: hsl(222.2 64% 6.9%); */
	html {
		font-family: 'Sora', system-ui, sans-serif;
		background: var(--background);
	}
	body {
		margin: 0px;
	}
	p, span, h1, h2, h3, h4, h5, h6 {
		color: var(--foreground);
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

</style>
<ViewTransitions />